POSTGRES_USER=admin
POSTGRES_PASSWORD=padaria_senha_123
POSTGRES_DB=padaria_db
# Essa URL abaixo é a que seu Python vai usar para conectar
DATABASE_URL=postgresql://admin:padaria_senha_123@postgres:5432/padaria_db
REDIS_URL=redis://redis:6379/0